<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="acc_no" value="100900"></parameter>
    <parameter name="name" value="aul"></parameter>
    <parameter name="amount" value="1000.0"></parameter>
    <parameter name="amt" value="1000.0"></parameter>

    <test verbose="2" preserve-order="true"
          name="C:/Users/user/AppData/Local/Temp/Temp1_JCMagang-kelompok2-Hadir-master-FIXED.zip/UjianMingguDua">
        <classes>
            <class name="com.ujianminggudua.TestBankAccount">
                <methods>
                    <include name="testInsert"/>
                    <include name="testDeposit"/>
                    <include name="testWithdraw"/>
                    <include name="testCheckBalance"/>
                    <include name="testDisplay"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>